<%- include('./base/header.ejs') -%>

<p><%= name %>,</p>

<p>Pour commencer, l'équipe de Katellea et l'Etablissement Français du Sang souhaite vous remercier pour votre don réalisé le <%= donationDate %></p>
<p>Toutefois, une poche de sang ayant une durée de vie de seulement de 42 jours, les besoins en sang sont constants et c'est pour cela que nous vous sollicitons !</p>
<p>En effet, dans environ 1 semaine, votre délai d'attente sera terminé et nous vous invitons dès à présent à planifier votre prochain rendez-vous sur <a href="<%= frontUrl %>">Katellea</a> et y inviter vos proches.</p><br/>
<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>