<%- include('./base/header.ejs') -%>

<p>Bienvenue sur Katellea !</p><br/>
<p>Afin de valider votre adresse e-mail, nous vous invitons à cliquer sur le lien suivant : <a href="<%= url %>"><%= url %></a></p>
<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>