<%- include('./base/header.ejs') -%>

<p>Bonjour <%= user.name %>,</p><br/>

<p>
  Vous pouvez consulter vos données personnelles à l'adresse suivante :
  <a href="<%= url %>"><%= url %></a>
</p>

<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>