<%- include('./base/header.ejs') -%>

<p>Bonjour <%= user.name %>,</p><br/>

<p>
  Pour valider votre adresse e-mail, nous vous invitons à cliquer sur le lien suivant : <a href="<%= url %>"><%= url %></a>
</p>

<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>