<%- include('./base/header.ejs') -%>

<p><%= user.name %>,</p><br/>

<p><%= creatorName%> vient de créer une nouvelle proposition de don.
<% if (userHasAlreadyOneDonation) { %> Cette dernière comporte des dates respectant votre délai d'attente suite à votre précédent don. <% } %>
</p>
<p>Nous vous invitons donc à consulter cette proposition sur <a href="<%= frontUrl %>/tableau-de-bord">votre tableau de bord</a></p><br />

<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>