<p><%= user.firstName %>,</p><br/>
<p><%= authorName %> a indiqué et compte sur votre présence à un don de <%= donationType%> le <%= donationDate %>.</p>
<p><%- DISCLAIMER %></p><br/>
<p><%- FOOTER %></p>