<%- include('../base/header') -%>

<p><%= name %>,</p>

<p>Votre don est passé au statut <strong>réalisé</strong>, vous avez désormais 5 jours pour modifier les participants finals au don (si besoin).<br />
<p>Passé ce délai, ce don sera comptabilisé dans les statistiques des participants et globales du site.</p>

<hr />
<p>Pour modifier les participants finaux du don, vous pouvez utiliser le lien suivant : <a href="<%- adminDonationUrl %>"><%- adminDonationUrl %></a></p>

<p><%- FOOTER_TEAM %></p>

<%- include('../base/footer') -%>