<%- include('../base/header') -%>

<p><%= name %>,</p>

<p>Merci d'avoir crée un nouveau don sur Katellea !</p><br />
<p>Vous pouvez partager avec vos proches en utilisant le lien suivant : <a href="<%- donationUrl %>"><%- donationUrl %></a></p>
<p>Pour administrer votre don, veuillez utiliser le lien suivant : <a href="<%- adminDonationUrl %>"><%- adminDonationUrl %></a></p>
<p><%- FOOTER_TEAM %></p>

<%- include('../base/footer') -%>