<%- include('../base/header') -%>

<p>Bonjour <%= user.name %>,</p><br/>

<p>Un mois s'est écoulé depuis votre inscription sur Katellea</p>
<p>Les besoins en sang étant constants, les stocks dépendent uniquement des donneurs !</p>
<p>Nous vous sollicitions donc pour créer ou rejoindre votre premier nouveau don sur Katellea</p>

<div style="text-align:center;padding: 30px 0 20px 0;">
  <a href="<%= frontUrl %>" style="padding: 15px 50px;background-color:#4483eb;color: white;font-size: 2em;font-family: Arial;">Créer un nouveau don sur Katellea</a>
</div>

<p><%- FOOTER_TEAM %></p>

<%- include('../base/footer') -%>